body {
  background-color: #2C0406;
  color: #c2938f;
}

.heading {
  background-color: #2C0406;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.logo {
  width: 200px;
  margin: 10px 30px;
}

.mode-select {
  background: linear-gradient(#2C0406, #4F0405);
  padding: 10px 20px;
  margin: 0;
}

.modes {
  color: #c2938f;
  margin-left: 50px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: monospace;
}

.modes:hover {
  text-decoration: none;
  color: #ff938f;
}

.redline {
  width: 90%;
  border-radius: 100%;
  height: 2px;
  background-color: #BA3D2E;
}

.news-cards {
  background: linear-gradient(#4F0405, #2C0406);
}

.alignment {
  padding: 10px;
}

.d-block {
  padding-left: 20px;
}

.footer {
  background: linear-gradient(#2C0406, #000);
  color: #FFF;
  padding-bottom: 20px;

}

.control-prompt {
  color: #BF4040;
  text-decoration: none;
  font-family: monospace;
  font-size: 1.5rem;
  margin-left: 50px;
}

.control-prompt:hover {
  text-decoration: none;
  color: #FF4040;
}

.control-button {
  font-weight: bold;
  text-decoration: none;
}

.control-button:hover {
    text-decoration: none;
    color: #FF4040;
}
